@page "/docs/alerts"

<div class="page">

    <DocsExample Title="Alerts" ComponentType="typeof(Alert)">
        <p>Alert messages are used to inform users of the status of their action and help them solve any problems that might have occurred. Good design of alert modals is very important for the overall user experience of a website or app.</p>

        <CodeSnippet ClassName="@typeof(AlertsBasic).ToString()" Title="Basic Setup">
            <Description>
                Depending on the information you need to convey, you can use one of the following types of alert messages - success, info, warning or danger. Using the right type of alert modal will help draw users’ attention to the message and prompt them to take action.
            </Description>
            <Example>
                <AlertsBasic />
            </Example>
        </CodeSnippet>

        <CodeSnippet ClassName="@typeof(AlertsDismissable).ToString()" Title="Dismissible">
            <Description>
                Set Dismissible to make an alert modal dismissible. Thanks to that, your alert modal will disappear only once the user closes it.
            </Description>
            <Example>
                <AlertsDismissable />
            </Example>
        </CodeSnippet>

        <CodeSnippet ClassName="@typeof(AlertsTemplate).ToString()" Title="Templates">
            <Description>
                <p>Using the template you can control the content of the alert</p>
            </Description>
            <Example>
                <AlertsTemplate />
            </Example>
        </CodeSnippet>

        <CodeSnippet ClassName="@typeof(AlertsImportant).ToString()" Title="Important">
            <Description>
                <p>Set the important property to have the alert really standout</p>
            </Description>
            <Example>
                <AlertsImportant />
            </Example>
        </CodeSnippet>

    </DocsExample>
</div>
