@page "/docs/accordion"

<div class="page">

    <DocsExample Title="Accordion" ComponentType="typeof(Accordion)">
        <CodeSnippet ClassName="@typeof(AccordionBasic).ToString()" Title="Basic">
            <Example>
                <AccordionBasic/>
            </Example>
        </CodeSnippet>
    </DocsExample>
</div>