@namespace TabBlazor

@inherits TablerBaseComponent

@if (Active)
{
    <HtmlElement Tag="div"
                 class="@ClassNames"
                 @onclick="OnClick"
                 @attributes="@UnmatchedParameters">

        @if (ShowSpinner)
        {
            <div class="loader"></div>
        }

        <div class="dimmer-content" @onclick:stopPropagation @onclick:preventDefault>
            @ChildContent
        </div>
    </HtmlElement>
}
else
{
    @ChildContent
}


