

<TreeView  Items="@folders" ChildSelectorAsync="e=> GetSubFoldersAsync(e)" @bind-SelectedItem="selectedFolder">
    <Template>
        <Card StatusStart="TablerColor.Danger" Size="CardSize.Small">
            <CardBody>
                <span>@context.FolderName</span>
            </CardBody>
        </Card>
    </Template>
</TreeView>

<div class="mt-3">Selected Folders:</div>
<ul>
    <li>@selectedFolder?.FolderName</li>
</ul>

@code {
    private TreeView<FileFolder> treeView;
    List<FileFolder> folders = new List<FileFolder>();
    public FileFolder selectedFolder { get; set; }
    protected override void OnInitialized()
    {

        var drawings = new FileFolder("Drawings", 1);
        folders.Add(drawings);

    }

    private async Task<IList<FileFolder>> GetSubFoldersAsync(FileFolder folder)
    {

        await Task.Delay(200);

        if (folder.SubFolders == null)
        {
            folder.SubFolders = new List<FileFolder>();
            var level = folder.Level + 1;
            for (int i = 0; i < 3; i++)
            {
                folder.SubFolders.Add(new FileFolder($"{level}_Sub: {i}", level));
            }
        }

        return folder.SubFolders;

    } 



    public class FileFolder
    {

        public FileFolder(string folderName, int level)
        {
            FolderName = folderName;
            Level = level;
        }
        public int Level { get; set; }
        public string FolderName { get; set; }
        public List<FileFolder> SubFolders { get; set; }

    }

}
