<div class="card">
    <div class="card-body">
        <div class="row row-sm align-items-center">
            <div class="col-auto">
                <Avatar Rounded="AvatarRounded.Circle" Size="AvatarSize.Large" Data="_content/Tabler.Docs/img/avatars/009m.jpg" />
            </div>
            <div class="col">
                <h4 class="card-title m-0">
                    <a href="#">Paweł Kuna</a>
                </h4>
                <div class="text-muted">
                    Working in Yombu
                </div>
                <div class="small mt-1">
                    <span class="text-success">●</span> 
                    @*<Badge BackgroundColor="TablerColor.Success" />*@
                    Online
                </div>
            </div>
            <div class="col-auto">
                Subscribe
            </div>
            <div class="col-auto">
                <Dropdown>
                  <ChildContent>
                      <Icon Size="16" IconType="@TablerIcons.Dots_vertical" />
                  </ChildContent>

                    <DropdownTemplate>
                        <DropdownMenu>
                            <DropdownItem>Send Message</DropdownItem>
                            <DropdownItem>Update profile</DropdownItem>
                            <DropdownItem>Disable</DropdownItem>
                        </DropdownMenu>
                    </DropdownTemplate>

                </Dropdown>

            
            </div>
        </div>
    </div>
</div>