<a class="card card-link" href="#">
    <div class="card-body">
        <div class="float-left me-3">
            <Avatar Rounded="AvatarRounded.Rounded" Data="_content/Tabler.Docs/img/avatars/002m.jpg" />
        </div>
        <div class="lh-sm">
            <div class="strong">Maryjo Lebarree</div>
            <div class="text-muted">Civil Engineer</div>
        </div>
    </div>
</a>