<Card>
    <div class="card-cover text-center card-cover-blurred" style="background-image: url(_content/Tabler.Docs/img/photos/5614ec7eb9034d04.jpg)">
        <Avatar Size="AvatarSize.ExtraLarge" Data="_content/Tabler.Docs/img/avatars/013f.jpg"></Avatar>
    </div>

    <CardBody class="text-center" >
        <CardTitle class="mb-1">Leigha Gorce</CardTitle>
        <div class="text-muted">Geologist II</div>
    </CardBody>
</Card>

