
//Clickable
.clickable {
    cursor: pointer;
}

.clickable-text {
    cursor: pointer;
    text-decoration: underline;
}

.non-clickable {
    cursor: default;
}


/**
Dimmer
*/
.dimmer {
    position: relative;
    min-height: 2.5rem;
}

.dimmer .loader {
    display: none;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.dimmer.active .loader {
    display: block;
}

.dimmer.active .dimmer-content {
    opacity: 0.5;
    pointer-events: none;
}



//Arrows
.arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #495057;
    display: inline-block;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #495057;
    display: inline-block;
}

//Grouped table
.grouped-table {
    tr.grouping-row {
        background-color: #f5f7fb !important;
        text-align: left !important;
        font-weight: bold;
    }

    tr {
        td {
            padding-left: 0.5rem;
        }
    }
}
