@inherits LayoutComponentBase

<MainNavigation></MainNavigation>
@*<MainHeader></MainHeader>*@

<div class="page">
    <div class="content">
        <div class="container-fluid">
                    @Body
        </div>
    </div>
</div>
