@using System.IO.Compression;
@using System.IO;
@inject TablerService tabService

<Button BackgroundColor=TablerColor.Primary OnClick="SaveAsBinary">SaveAsBinary</Button>

@code {
   

    private async Task SaveAsBinary()
    {
        using (var memoryStream = new MemoryStream())
        {
            using (var archive = new ZipArchive(memoryStream, ZipArchiveMode.Create, true))
            {
                var demoFile = archive.CreateEntry("foo.txt");

                using (var entryStream = demoFile.Open())
                using (var streamWriter = new StreamWriter(entryStream))
                {
                    streamWriter.Write("Bar!");
                }
            }

            memoryStream.Seek(0, SeekOrigin.Begin);
            var bytes = memoryStream.ToArray();


            await tabService.SaveAsBinary("Testfile.zip", "application/zip", bytes);
        }
    }
}

