<TablerCard Size="TablerCardSize.Small">
    <TablerCardBody class="d-flex align-items-center">
        <span class="bg-blue text-white stamp mr-3">
        <TablerIcon Elements="@DemoIcons.Currency_dollar" />
        </span>
        <div class="mr-3 lh-sm">
            <div class="strong">
                132 Sales
            </div>
            <div class="text-muted">12 waiting payments</div>
        </div>
    </TablerCardBody>
</TablerCard>