<TablerCard>
    <TablerCardBody>
        <div class="d-flex align-items-center">
            <div class="subheader">Sales</div>
            <div class="ml-auto lh-1">
                <TablerDropDown>
                    <ChildContent>
                        <a class="dropdown-toggle text-muted" aria-haspopup="true" aria-expanded="false">
                            Last 7 days
                        </a>
                    </ChildContent>
                    <Dropdown>
                        <TablerDropDownMenu>
                            <TablerDropDownItem>Last 7 Days</TablerDropDownItem>
                            <TablerDropDownItem>Last 30 days</TablerDropDownItem>
                            <TablerDropDownItem>Last 3 months</TablerDropDownItem>
                        </TablerDropDownMenu>
                    </Dropdown>
                    
                </TablerDropDown>
            </div>
        </div>
        <div class="h1 mb-3">75%</div>
        <div class="d-flex mb-2">
            <div>Conversion rate</div>
            <div class="ml-auto">
                <span class="text-green d-inline-flex align-items-center lh-1">
                    7% <TablerIcon class="ml-1" Size="16" Elements="@DemoIcons.Trending_up" />
                </span>
            </div>
        </div>
        <TablerProgress Size="TablerProgressSize.Small" Precentage="75" />
    </TablerCardBody>
</TablerCard>
