@page "/snippets/statistcs"

<TablerPage>
    <DocsExample Title="Snippets">

        <CodeSnippet SetBackground ClassName="@typeof(StatisticsSmall).ToString()" Title="Small">
          
            <Example>
                <StatisticsSmall/>
            </Example>
        </CodeSnippet>

        <CodeSnippet SetBackground ClassName="@typeof(StatisticsMedium).ToString()" Title="Trend">
            <Description>
                <p>Show a toast..</p>
            </Description>
            <Example>
                <StatisticsMedium />
            </Example>
        </CodeSnippet>

    </DocsExample>
</TablerPage>