<TablerTabs>
    <TablerTab Title="Tab 1">
            <h3>This tab 1</h3>
            <TablerButton BackgroundColor="TablerColor.Primary" Type="TablerButtonType.Button">Button</TablerButton>
    </TablerTab>
    <TablerTab Title="Tab 2">
            <h3>This tab 2</h3>
            <TablerIcon Elements="@DemoIcons.Music" Size="100" />
    </TablerTab>
</TablerTabs>
