<TablerTabs>
    <TablerTab Title="Tab 1">
        <h3>This tab 1</h3>
        <TablerButton BackgroundColor="TablerColor.Primary" Type="TablerButtonType.Button">Button</TablerButton>
    </TablerTab>
    <TablerTab Title="Tab 2">
        <h3>This tab 2</h3>
        <TablerIcon Elements="@DemoIcons.Music" Size="100" />
    </TablerTab>
    <TablerTab Title="Tab 3">
        <h3>This tab 3</h3>
        <TablerIcon Elements="@DemoIcons.Access_point" Size="100" />
    </TablerTab>
    <TablerTab Title="Tab 4">
        <h3>This tab 4</h3>
        <TablerIcon Elements="@DemoIcons.Road_sign" Size="100" />
    </TablerTab>
</TablerTabs>
