<Tabs>
    <Tab>
        <Header>
            <Icon class="icon" Elements="@DemoIcons.Notebook" />Tab 1
        </Header>
        <ChildContent>
            <h3>This tab 1</h3>
            <Button Type="ButtonType.Button">Button</Button>
        </ChildContent>
    </Tab>

    <Tab>
        <Header>
            <Icon class="icon" Elements="@DemoIcons.Music" />Tab 2
        </Header>
        <ChildContent>
            <h3>This tab 2</h3>
            <Icon IconType="IconType.Music"/>
        </ChildContent>
    </Tab>

    <Tab>
        <Header>
            <Icon class="icon" Elements="@DemoIcons.Home" />Tab 3
        </Header>
        <ChildContent>
            <h3>This tab 3</h3>
            <Icon Elements="@DemoIcons.Moped" Size="100" />
        </ChildContent>
    </Tab>


</Tabs>
