@using TabBlazor.Components.Modals
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations

<TablerForm Model="@Model" OnValidSubmit="Submit">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <InputText class="form-control" @bind-Value="Model.Name"></InputText>
        <TabValidationMessage For="(() => Model.Name)"></TabValidationMessage>
    </div>

    <Button Type="ButtonType.Submit" Text="Save" class="mt-1"></Button>
</TablerForm>

@code {
    public class Person
    {
        [Required]
        [StringLength(10)]
        public string Name { get; set; }
    }
    [Inject]
    public IModalService Modal { get; set; }

    private Person Model { get; set; } = new Person()
    {
        Name = "Mr. Tab Blazor"
    };

    private async Task Submit(EditContext obj)
    {
        await Modal.ShowDialogAsync(new DialogOptions()
        {
            MainText = "Form Is Valid",
            SubText = $"Person Name: {Model.Name}"
        });
    }
}