@inherits TablerBaseComponent
@namespace TabBlazor


<div class="@GetWrapperClass()" @onclick:stopPropagation="hasSubMenu">

    <HtmlElement Tag="a"
                 class="@ClassNames"
                 @onclick="ItemClicked"
                 @attributes="@UnmatchedParameters">
        @ChildContent

        @if (hasSubMenu && subMenuVisible)
        {
            <DropdownMenu>
                @SubMenu
            </DropdownMenu>
        }

    </HtmlElement>
</div>
