@inherits TablerBaseComponent
@namespace TabBlazor
<li>
    <HtmlElement Tag="a"
                 class="@ClassNames"
                 @onclick="OnClick"
                 @attributes="@UnmatchedParameters">
        @ChildContent
    </HtmlElement>
</li>