@inherits TablerBaseComponent
@namespace TabBlazor

<CascadingValue Name="DropdownItem" Value=this>
    <div class="@GetWrapperClass()" @onclick="@(e => { if (hasSubMenus) ToogleSubMenus(e);})" @onclick:stopPropagation=hasSubMenus>
       
        <HtmlElement Tag="a"
                     class="@ClassNames"
                     @onclick="OnClick"
                     @attributes="@UnmatchedParameters">
            @ChildContent
        </HtmlElement>
    </div>
</CascadingValue>