@page "/docs/icons"

    <Page>
        <DocsExample Title="Icons">
         Icons are not include by default. The Icon takes a ..

            <CodeSnippet ClassName="@typeof(IconsBasic).ToString()" Title="Basics">
                <Description>
                    <p>Basic Icon</p>
                </Description>
                <Example>
                    <IconsBasic />
                </Example>
            </CodeSnippet>

            <CodeSnippet ClassName="@typeof(IconsColorSize).ToString()" Title="Settings">
                <Description>
                    <p>Set size and color for each icon</p>
                </Description>
                <Example>
                    <IconsColorSize />
                </Example>
            </CodeSnippet>

            <CodeSnippet ClassName="@typeof(IconsCSS).ToString()" Title="CSS">
                <Description>
                    <p>Use css for icons</p>
                </Description>
                <Example>
                    <IconsCSS />
                </Example>
            </CodeSnippet>

            <CodeSnippet  Title="Tabler icons">
                <Description>
                   A list of all Tabler icons
                </Description>
                <Example>
                    <IconsList />
                </Example>
            </CodeSnippet>

        </DocsExample>
    </Page>

   
