<Alert BackgroundColor="TablerColor.Danger" Dismissible>
    <Icon Size="48" StrokeWidth="1.5" TextColor="TablerColor.Danger" class="me-2" IconType="@TablerIcons.Alert_triangle" /> 
    <div class="text-muted">This is very dangerous</div>
</Alert>

<Alert BackgroundColor="TablerColor.Info" Dismissible>
    <div class="text-muted">
               Lorem ipsum Minim ad pariatur eiusmod ea ut nulla aliqua est quis id dolore minim voluptate.
        </div>
</Alert>

<Alert BackgroundColor="TablerColor.Success" Dismissible>
    <div class="text-muted">
        <h3>Some Title</h3>
        <p>Lorem ipsum Minim ad pariatur eiusmod ea ut nulla aliqua est quis id dolore minim voluptate.</p>
        <ButtonList>
            <Button BackgroundColor="@TablerColor.Success">Save changes</Button>
            <Button BackgroundColor="@TablerColor.White">Cancel</Button>
        </ButtonList>
    </div>
</Alert>

