<TablerAlert BackgroundColor="TablerColor.Danger" Dismissible>
    <TablerIcon Size="48" StrokeWidth="1.5" class="mr-2" Elements="@DemoIcons.Alert_triangle" /> This is very dangerous
</TablerAlert>

<TablerAlert BackgroundColor="TablerColor.Info" Dismissible>
    <TablerAvatar class="mr-2" Url="_content/Tabler.Docs/img/avatars/007f.jpg" />Lorem ipsum Minim ad pariatur eiusmod ea ut nulla aliqua est quis id dolore minim voluptate. 
</TablerAlert>

<TablerAlert BackgroundColor="TablerColor.Success" Dismissible>
    <h3>Some Title</h3>
    <p>Lorem ipsum Minim ad pariatur eiusmod ea ut nulla aliqua est quis id dolore minim voluptate.</p>
    <TablerButtonList>
        <TablerButton BackgroundColor="@TablerColor.Success">Save changes</TablerButton>
        <TablerButton BackgroundColor="@TablerColor.White">Cancel</TablerButton>
    </TablerButtonList>
</TablerAlert>

