<Alert BackgroundColor="TablerColor.Danger" Dismissible Important>
    <Icon Size="48" StrokeWidth="1.5"  class="me-2" IconType="@TablerIcons.Alert_triangle" /> This is very dangerous
</Alert>

<Alert BackgroundColor="TablerColor.Info" Dismissible Important>
    <Avatar class="me-2" Data="_content/Tabler.Docs/img/avatars/007f.jpg" />Lorem ipsum Minim ad pariatur eiusmod ea ut nulla aliqua est quis id dolore minim voluptate.
</Alert>

<Alert BackgroundColor="TablerColor.Warning" Dismissible Important>
    <h3>Some Title</h3>
    <p>Lorem ipsum Minim ad pariatur eiusmod ea ut nulla aliqua est quis id dolore minim voluptate.</p>
    <ButtonList>
        <Button BackgroundColor="@TablerColor.Success">Save changes</Button>
        <Button BackgroundColor="@TablerColor.White">Cancel</Button>
    </ButtonList>
</Alert>
