<Alert BackgroundColor="TablerColor.Danger" Title="Danger">
    <div class="text-muted">Danger Alert</div>
</Alert>

<Alert BackgroundColor="TablerColor.Warning" Title="Warning">
    <div class="text-muted">Warning Alert</div>
</Alert>

<Alert BackgroundColor="TablerColor.Success" Title="Success">
    <div class="text-muted">Success Alert</div>
</Alert>