@page "/docs/alerts"

<div class="page">

    <DocsExample Title="Alerts">
        <CodeSnippet ClassName="@typeof(AlertsBasic).ToString()" Title="Basic Setup">
            <AlertsBasic />
        </CodeSnippet>

        <CodeSnippet ClassName="@typeof(AlertsDismissable).ToString()" Title="Dismissible">
            <AlertsDismissable />
        </CodeSnippet>

        <CodeSnippet ClassName="@typeof(AlertsTemplate).ToString()" Title="Templates">
            <AlertsTemplate />
        </CodeSnippet>
    </DocsExample>
</div>
