@page "/docs/alerts"

<div class="page">

    <TablerCard Size="TablerCardSize.Large">
        <TablerCardBody>
            <div class="d-flex">
                <h2 class="h1 mt-0 mb-3">Alerts</h2>
            </div>
            <p>Alerts are great...</p>

            <DocsSnippet Centered="true"  Title="Basics">

                <Description>
                    <p>Basic</p>
                </Description>
                <Example>
                    <AlertsBasic />
                </Example>
            </DocsSnippet>

    
        </TablerCardBody>
    </TablerCard>
</div>
