<Alert BackgroundColor="TablerColor.Danger" Title="Danger">
    <div class="text-secondary">Danger Alert</div>
</Alert>

<Alert BackgroundColor="TablerColor.Warning" Title="Warning">
    <div class="text-secondary">Warning Alert</div>
</Alert>

<Alert BackgroundColor="TablerColor.Success" Title="Success">
    <div class="text-secondary">Success Alert</div>
</Alert>