<TablerCard Size="TablerCardSize.Default">
    <TablerCardHeader>
        <h3>This is the card header</h3>
    </TablerCardHeader>
    <TablerCardBody>
        Card Body
    </TablerCardBody>
</TablerCard>

<TablerCard Size="TablerCardSize.Default">
      <TablerCardBody>
          <TablerCardTitle>
              <h3>Header in the body</h3>
          </TablerCardTitle>
        Card Body
    </TablerCardBody>
</TablerCard>

