    <TablerCard Size="TablerCardSize.Default" StatusTop="TablerColor.Primary">
        <TablerCardHeader>
            <h3>Status at top</h3>
        </TablerCardHeader>
        <TablerCardBody>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem.
        </TablerCardBody>
    </TablerCard>

    <TablerCard Size="TablerCardSize.Default" StatusLeft="TablerColor.Danger">
        <TablerCardHeader>
            <h3>Status at left</h3>
        </TablerCardHeader>
        <TablerCardBody>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem.
        </TablerCardBody>
    </TablerCard>

    <TablerCard Size="TablerCardSize.Default" StatusBottom="TablerColor.GrayDark">
        <TablerCardHeader>
            <h3>Status at bottom</h3>
        </TablerCardHeader>
        <TablerCardBody>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem.
        </TablerCardBody>
    </TablerCard>


