<div class="btn-list">
    <StatusIndicator BackgroundColor=TablerColor.Red />
    <StatusIndicator BackgroundColor=TablerColor.Blue />
    <StatusIndicator BackgroundColor=TablerColor.Green />
    <StatusIndicator BackgroundColor=TablerColor.Azure />
    <StatusIndicator BackgroundColor=TablerColor.Pink Animate />
    <StatusIndicator BackgroundColor=TablerColor.Orange Animate />
</div>