<div class="card">
    <div class="card-body">
        <div class="row row-sm align-items-center">
            <div class="col-auto">
                <Avatar Rounded="AvatarRounded.Circle" Size="AvatarSize.Large" Url="_content/Tabler.Docs/img/avatars/009m.jpg" />
            </div>
            <div class="col">
                <h4 class="card-title m-0">
                    <a href="#">Paweł Kuna</a>
                </h4>
                <div class="text-muted">
                    Working in Yombu
                </div>
                <div class="small mt-1">
                    <span class="text-success">●</span> 
                    @*<Badge BackgroundColor="TablerColor.Success" />*@
                    Online
                </div>
            </div>
            <div class="col-auto">
                Subscribe
            </div>
            <div class="col-auto">
                <TablerDropDown>
                  <ChildContent>
                      <TablerIcon Size="16" Elements="@DemoIcons.Dots_vertical" />
                  </ChildContent>

                    <Dropdown>
                        <TablerDropDownMenu>
                            <TablerDropDownItem>Send Message</TablerDropDownItem>
                            <TablerDropDownItem>Update profile</TablerDropDownItem>
                            <TablerDropDownItem>Disable</TablerDropDownItem>
                        </TablerDropDownMenu>
                    </Dropdown>

                </TablerDropDown>

            
            </div>
        </div>
    </div>
</div>