@using TabBlazor.Components.Modals
@using Microsoft.AspNetCore.Components

<TablerForm Model="@Model" OnValidSubmit="Submit">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <InputText class="form-control" @bind-Value="Model.Name"></InputText>
        <ValidationMessage For="(() => Model.Name)"></ValidationMessage>
    </div>

    <Button Type="ButtonType.Submit" Text="Save" class="mt-1"></Button>
</TablerForm>

@code {

    [Inject]
    public IModalService Modal { get; set; }

    private PersonModel.Person Model { get; set; } = new PersonModel.Person()
    {
        Name = "Mr. Tab Blazor"
    };

    private async Task Submit(EditContext obj)
    {
        await Modal.ShowDialogAsync(new DialogOptions()
        {
            MainText = "Form Is Valid",
            SubText = $"Person Name: {Model.Name}"
        });
    }

}