@using TabBlazor.Services
@inject ToastService ToastService

<Button BackgroundColor="TablerColor.Primary" @onclick="ShowToast">Show Toast</Button>
<Button BackgroundColor="TablerColor.Primary" @onclick="ShowToastManual">Show Toast manual remove</Button>

@code {
    private async Task ShowToast()
    {
        await ToastService.AddToastAsync(new ToastModel { Title = "Toast", SubTitle = "Sub title", Message = "This is a Tabler toast message that will be automatically removed after 3 seconds" });
    }

    private async Task ShowToastManual()
    {
        await ToastService.AddToastAsync(new ToastModel { Title = "Manual remove", SubTitle = "Sub title", Message = "This is a Tabler toast message. Manual remove...", Options = new ToastOptions { Delay = 0 } });

    }
}