@page "/docs/toasts"

<Page>
    <DocsExample Title="Toasts" ComponentType="typeof(ToastOptions)">

        <CodeSnippet ClassName="@typeof(ToastsBasic).ToString()" Title="Basics">
            <Description>
                <p>Show a toast..</p>
            </Description>
            <Example>
                <ToastsBasic />
            </Example>
        </CodeSnippet>

        <CodeSnippet ClassName="@typeof(ToastsContent).ToString()" Title="Template">
            <Description>
                <p>A toast can hold any content</p>
            </Description>
            <Example>
                <ToastsContent />
            </Example>
        </CodeSnippet>

        <CodeSnippet ClassName="@typeof(ToastsOptions).ToString()" Title="Options">
            <Description>
                <p>Toast options</p>
            </Description>
            <Example>
                <ToastsOptions />
            </Example>
        </CodeSnippet>

    </DocsExample>
</Page>