@page "/docs/toasts"

    <TablerPage>
        <DocsExample Title="Toasts">

            <CodeSnippet ClassName="@typeof(ToastsBasic).ToString()" Title="Basics">
                <Description>
                    <p>Show a toast..</p>
                </Description>
                <Example>
                    <ToastsBasic />
                </Example>
            </CodeSnippet>

        </DocsExample>
        </TablerPage>