@page "/docs/toasts"

<TablerCard Size="TablerCardSize.Large">
    <TablerCardBody>
        <h2 class="h1 mt-0 mb-3">Toasts</h2>
        <p>Toasts</p>

        <DocsSnippet Centered="true" Class="@typeof(ToastsBasic).ToString()" Title="Basics">
            <Description>
                <p>Basic Icon</p>
            </Description>
            <Example>
                <ToastsBasic />
            </Example>
        </DocsSnippet>

        </TablerCardBody>
    </TablerCard>
