<div class="mb-2">
    <Flag Size="FlagSize.XSmall" FlagType="Docs.Flags.Jamaica" />
</div>

<div class="mb-2">
    <Flag Size="FlagSize.Small" FlagType="Docs.Flags.Sweden" />
</div>

<div class="mb-2">
    <Flag Size="FlagSize.Medium" FlagType="Docs.Flags.Eu" />
</div>

<div class="mb-2">
    <Flag Size="FlagSize.Large" FlagType="Docs.Flags.Canada" />
</div>

<div class="mb-2">
    <Flag Size="FlagSize.XLarge" FlagType="Docs.Flags.CapeVerde" />
</div>

<div class="mb-2">
    <Flag Size="FlagSize.XXLarge" FlagType="Docs.Flags.Ecuador" />
</div>

<div class="mb-2">
    <Flag Height="125px" FlagType="Docs.Flags.SouthAfrica" />
</div>