<Flag />


<Flag Size="FlagSize.XSmall" FlagType="TablerFlags.Andorra" />


<Flag Size="FlagSize.Small" FlagType="TablerFlags.Andorra"/>

<Flag Size="FlagSize.Medium" FlagType="TablerFlags.Andorra" />

<Flag Size="FlagSize.Large" FlagType="TablerFlags.Andorra" />

<Flag Size="FlagSize.XLarge" FlagType="TablerFlags.Andorra" />

<Flag Size="FlagSize.XXLarge" FlagType="TablerFlags.Andorra" />

<div>
    <Flag Width="87%" FlagType="TablerFlags.Andorra" />
</div>


