<Flag />


<Flag Size="FlagSize.XSmall" FlagType="Docs.Flags.Andorra" />


<Flag Size="FlagSize.Small" FlagType="Docs.Flags.Andorra"/>

<Flag Size="FlagSize.Medium" FlagType="Docs.Flags.Andorra" />

<Flag Size="FlagSize.Large" FlagType="Docs.Flags.Andorra" />

<Flag Size="FlagSize.XLarge" FlagType="Docs.Flags.Andorra" />

<Flag Size="FlagSize.XXLarge" FlagType="Docs.Flags.Andorra" />

<div mb-4>
    <Flag Width="87%" FlagType="Docs.Flags.Andorra" />
</div>


<div mb-4>
    <Flag CountryCode="AI" />
</div>

