@page "/docs/object-browser"

<Page>
    <DocsExample Title="Object Browser">
        <Description>

            <Alert BackgroundColor=TablerColor.Danger>
                <h3>ObjectBrowser is an exprimental component.</h3>
            </Alert>


        </Description>

        <ChildContent>
            <CodeSnippet ClassName="@typeof(Basic).ToString()" Title="Basic">
                <Example>
                    <Basic />
                </Example>
            </CodeSnippet>
        </ChildContent>

    </DocsExample>
</Page>
