@page "/docs/object-browser"

<Page>
    <DocsExample Title="Object Browser">
        <Description>
            <Alert BackgroundColor=TablerColor.Danger>
                <h3>ObjectBrowser is an exprimental component.</h3>

                <span>Click property values to navigate to the object</span>
            </Alert>
        </Description>

        <ChildContent>
            <CodeSnippet ClassName="@typeof(Basic).ToString()" Title="Basic">
                <Example>
                    <Basic />
                </Example>
            </CodeSnippet>
        </ChildContent>
    </DocsExample>
</Page>
