
<div class="form-selectgroup">

    <Checkbox>
        <Icon IconType="@TablerIcons.Tractor"></Icon>
    </Checkbox>

    <Checkbox>
        <Icon IconType="@TablerIcons.Bike" ></Icon>
    </Checkbox>

    <Checkbox>
        <Icon IconType="@TablerIcons.Bus" ></Icon>
    </Checkbox>

</div>
