<TablerButtonList>


    <TablerButton BackgroundColor="TablerColor.Primary" Type="TablerButtonType.Button">
        <ChildContent>
            Button 1
        </ChildContent>
        <Dropdown>
            <TablerDropDownMenu>
                <TablerDropDownItem>Item 1</TablerDropDownItem>
                <TablerDropDownItem>Item 2</TablerDropDownItem>
                <TablerDropDownItem>Item 3</TablerDropDownItem>
            </TablerDropDownMenu>
        </Dropdown>
    </TablerButton>


    <TablerButton BackgroundColor="TablerColor.Primary" Type="TablerButtonType.Button">
        <ChildContent>
            Button 2
        </ChildContent>
        <Dropdown>
            <TablerDropDownMenu class="p-0">
                <TablerCard class="m-0"  Size="TablerCardSize.Default">
                    <TablerCardBody >
                        <h1>Kolla nu då..</h1>
                        <TablerIcon Elements="@DemoIcons.Alien" Size="48" />
                    </TablerCardBody>
                </TablerCard>
            </TablerDropDownMenu>


</Dropdown>
    </TablerButton>
</TablerButtonList>
