<Button BackgroundColor="TablerColor.Primary" Size="ButtonSize.Large">Large</Button>
<Button BackgroundColor="TablerColor.Success"Size="ButtonSize.Default">Default</Button>
<Button BackgroundColor="TablerColor.Red"  Size="ButtonSize.Small">Small</Button>