<TablerButtonList>
    <TablerDropDown>
        <ChildContent>
            <TablerButton BackgroundColor="TablerColor.Primary" Type="TablerButtonType.Button" Text="Click me" />
        </ChildContent>

        <Dropdown>
            <TablerDropDownMenu>
                <TablerDropDownItem>Item 1</TablerDropDownItem>
                <TablerDropDownItem>Item 2</TablerDropDownItem>
                <TablerDropDownItem>Item 3</TablerDropDownItem>
            </TablerDropDownMenu>
        </Dropdown>

    </TablerDropDown>

    <TablerDropDown>
        <ChildContent>
            <TablerButton BackgroundColor="TablerColor.Primary" Type="TablerButtonType.Button" Text="Any content" />
        </ChildContent>

        <Dropdown>
            <TablerDropDownMenu class="p-0">
                <TablerCard class="m-0" Size="TablerCardSize.Default">
                    <TablerCardBody>
                        <h1>Aliens...</h1>
                        <TablerIcon Elements="@DemoIcons.Alien" Size="48" />
                    </TablerCardBody>
                </TablerCard>
            </TablerDropDownMenu>
        </Dropdown>

    </TablerDropDown>
</TablerButtonList>