<Button BackgroundColor="TablerColor.Primary" Shape="ButtonShape.Default">Default</Button>
<Button BackgroundColor="TablerColor.Orange" Shape="ButtonShape.Pill">Pill</Button>
<Button BackgroundColor="TablerColor.Lime" Shape="ButtonShape.Square">Square</Button>
<Button BackgroundColor="TablerColor.Red" Block>Block</Button>
