<Button>Default</Button>
<Button BackgroundColor="TablerColor.Primary">Primary</Button>
<Button BackgroundColor="TablerColor.Success">Success</Button>
<Button BackgroundColor="TablerColor.Secondary">Secondary</Button>
<Button BackgroundColor="TablerColor.Danger">Danger</Button>
<Button BackgroundColor="TablerColor.Purple">Purpule</Button>
