<Select Items="customers"
            @bind-SelectedValue="selectedCustomer"
            TextExpression="e=>e.CustomerName"
            NoSelectedText="*Select Customer*"
            DisabledExpression="@(e=>e.CustomerName.StartsWith("A"))"
             />


@if (selectedCustomer != null)
{
    <div class="mt-3">Selected Customer : </div>
    @selectedCustomer.CustomerName
}

@code {
    private Customer selectedCustomer;
    private List<Customer> customers = new List<Customer>();

    protected override void OnInitialized()
    {
        customers = Data.SampleData.GetCustomers();
        selectedCustomer = customers.First();
    }
}