<Tabs>
    <Tab Title="Tab 1">
        <h3>This tab 1</h3>
        <Button BackgroundColor="TablerColor.Primary" Type="ButtonType.Button">Button</Button>
    </Tab>
    <Tab Title="Tab 2">
        <h3>This tab 2</h3>
        <Icon IconType="@TablerIcons.Music" Size="100" />
    </Tab>
    <Tab Title="Tab 3">
        <h3>This tab 3</h3>
        <Icon IconType="@TablerIcons.Access_point" Size="100" />
    </Tab>
    <Tab Title="Tab 4">
        <h3>This tab 4</h3>
        <Icon IconType="@TablerIcons.Road_sign" Size="100" />
    </Tab>
</Tabs>
