@inherits LayoutComponentBase

    <div class="  @(darkMode ? "theme-dark": "")">

        <ModalContainer />
        <ToastContainer />

        <MainNavigation @bind-DarkMode="darkMode"></MainNavigation>

        <div class="page">
            <div class="content">
                <div class="container-fluid">
                    @Body
                </div>
            </div>
        </div>
    </div>