<Navbar>
        <a href="https://github.com/joadan/Blazor-Tabler" class="navbar-brand navbar-brand-autodark">
            <img src="_content/Tabler.Docs/img/logo-white.svg" alt="Tabler" class="navbar-brand-image">
        </a>

        <NavbarMenu>
            <NavbarMenuItem Href="dashboard" Text="Dashboard">
                <MenuItemIcon>
                    <Icon class="icon" Elements="@DemoIcons.Dashboard" />
                </MenuItemIcon>
            </NavbarMenuItem>


            <NavbarMenuItem Text="Snippets">
                <MenuItemIcon>
                    <Icon class="icon" Elements="@DemoIcons.Code" />
                </MenuItemIcon>
                <SubMenu>
                    <NavbarMenuItem Text="Statistics" Href="snippets/statistcs" />
                    <NavbarMenuItem Text="Profile" Href="snippets/profiles" />
                </SubMenu>
            </NavbarMenuItem>


            <NavbarMenuItem Text="Components" Expanded>
                <MenuItemIcon>
                    <Icon class="icon" Elements="@DemoIcons.Puzzle" />
                </MenuItemIcon>
                <SubMenu>
                    <NavbarMenuItem Text="Forms">
                        <SubMenu>
                            <NavbarMenuItem Text="Checkboxes" Href="docs/forms/checkboxes" />
                            <NavbarMenuItem Text="Select" Href="docs/forms/selects" />
                        </SubMenu>

                    </NavbarMenuItem>

                    <NavbarMenuItem Text="Dimmer" Href="docs/dimmers" />
                    <NavbarMenuItem Text="Table" Href="docs/tables" />
                    <NavbarMenuItem Text="Chart" Href="docs/charts" />
                    <NavbarMenuItem Text="Button" Href="docs/buttons" />
                    <NavbarMenuItem Text="Popover" Href="docs/popovers" />
                    <NavbarMenuItem Text="Alert" Href="docs/alerts" />
                    <NavbarMenuItem Text="Tooltip" Href="docs/tooltips" />
                    <NavbarMenuItem Text="Card" Href="docs/cards" />
                    <NavbarMenuItem Text="Icon" Href="docs/icons" />
                    <NavbarMenuItem Text="Toast" Href="docs/toasts" />
                    <NavbarMenuItem Text="Tab" Href="docs/tabs" />
                    <NavbarMenuItem Text="Timeline" Href="docs/timelines" />
                    <NavbarMenuItem Text="Avatar" Href="docs/avatars" />
                    <NavbarMenuItem Text="Badge" Href="docs/badges" />
                    <NavbarMenuItem Text="Dropdown" Href="docs/dropdowns" />
                    <NavbarMenuItem Text="Progress" Href="docs/progress" />
                    <NavbarMenuItem Text="Navbar" Href="docs/navbars" />
                    <NavbarMenuItem Text="Modal" Href="docs/modals" />
                </SubMenu>
            </NavbarMenuItem>
        </NavbarMenu>

</Navbar>

