@inherits LayoutComponentBase

<ModalContainer />
<ToastContainer />
<OffcanvasContainer />


<div class="page">
    <MainNavigation />

    <div class="page-wrapper">
        <div class="container-fluid mt-2">
            @Body
        </div>
    </div>
</div>

