@inherits LayoutComponentBase

    <div class="  @(appService.Settings.DarkMode ? "theme-dark": "")">

        <ModalContainer />
        <ToastContainer />

        <MainNavigation />
      @*  <SimpleNavigation></SimpleNavigation>*@
        <div class="page">
            <div class="content">
                <div class="container-fluid">
                    @Body
                </div>
            </div>
        </div>
    </div>