@inherits LayoutComponentBase

<ModalContainer />
<ToastContainer />

<MainNavigation></MainNavigation>

<div class="page">
    <div class="content">
        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>
