@inherits LayoutComponentBase

<Modal />
<ToastServiceComp />

<MainNavigation></MainNavigation>

<div class="page">
    <div class="content">
        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>
