@page "/docs/tables"

<Page>
    <DocsExample Title="Tables">

        <CodeSnippet ClassName="@typeof(TablesBasic).ToString()" Title="Basics">
            <Description>
                <p>Basic table</p>
            </Description>
            <Example>
                <TablesBasic />
            </Example>
        </CodeSnippet>

    </DocsExample>
</Page>