@typeparam Item
@inherits GroupByButtonBase<Item>
@if (Table.Columns.Any(e => e.Groupable))
{
    <span class="ms-2">
        @foreach (var column in Table.Columns.Where(e => e.Groupable))
        {
            <Badge class="ms-1" BackgroundColor="@(column.GroupBy ? TablerColor.Primary:TablerColor.Default)" @onclick="@column.GroupByMeAsync">@column.Title</Badge>
        }
    </span>

}