@typeparam TableItem
@inherits TableHeaderBase<TableItem>

<thead>
    <tr class="no-hover-row">
        @if(Table.ShowCheckboxes)
        {
        <th>
            @if (Table.MultiSelect)
            {
                <CheckboxTriState Value="SelectedValue()" ValueChanged="ToogleSelected" />
            }
        </th>
        }

        @foreach (IColumn<TableItem> column in Table.VisibleColumns)
        {
            <th style="@GetColumnWidth(column)" class="@GetColumnHeaderClass(column)" @onclick="@(() => column.SortByAsync())">
                <span>@((MarkupString)column.Title)</span>
            </th>
        }

        @if(Table.HasRowActions && !Table.HasActionColumn)
        {
            <th></th>
        }
    </tr>
</thead>