@using System.IO.Compression;
@using System.IO;
@using System.Text
@using Tabler.Docs.Services
@inject TablerService tabService
@inject ICodeSnippetService codeSnippetService


<Button BackgroundColor=TablerColor.Primary OnClick="OpenContentAsync">Open PDF</Button>

@code {


    private async Task OpenContentAsync()
    {

        var pdfBytes = await codeSnippetService.GetSamplePDF();
        await tabService.OpenContentWindow("application/pdf", pdfBytes, "#toolbar=0");

    }
}

