<Card Size="CardSize.Small">
    <CardBody class="d-flex align-items-center">
        <span class="bg-green text-white stamp me-3">
        <Icon IconType="@TablerIcons.Shopping_cart" />
        </span>
        <div class="me-3 lh-sm">
            <div class="strong">
                1234 Orders
            </div>
            <div class="text-muted">892 Shipped</div>
        </div>
    </CardBody>
</Card>