<Card Size="CardSize.Small">
    <CardBody class="d-flex align-items-center">
        <span class="bg-facebook text-white stamp me-3">
            <Icon IconType="@TablerIcons.Brand_facebook" />
        </span>
        <div class="me-3 lh-sm">
            <div class="strong">
                132 Likes
            </div>
            <div class="text-muted">21 Today</div>
        </div>
    </CardBody>
</Card>
