<Card Size="CardSize.Small">
    <CardBody class="d-flex align-items-center">
        <span class="bg-yellow text-white stamp me-3">
            <Icon IconType="@TablerIcons.Users" />
        </span>
        <div class="me-3 lh-sm">
            <div class="strong">
                876 Members
            </div>
            <div class="text-muted">87 Registered today</div>
        </div>
    </CardBody>
</Card>
