<Card Size="CardSize.Small">
    <CardBody class="d-flex align-items-center">
        <span class="bg-blue text-white stamp me-3">
        <Icon IconType="@TablerIcons.Currency_dollar" />
        </span>
        <div class="me-3 lh-sm">
            <div class="strong">
                132 Sales
            </div>
            <div class="text-muted">12 waiting payments</div>
        </div>
    </CardBody>
</Card>