
@using Docs.Components.Plugins.Charts

<div class="card">
    <div class="card-body" style="position: relative;">
        <div class="d-flex align-items-center">
            <div class="subheader">Active users</div>
            <div class="ms-auto lh-1">
                <Dropdown>
                    <ChildContent>
                        <a class="dropdown-toggle text-muted" aria-haspopup="true" aria-expanded="false">
                            Last 7 days
                        </a>
                    </ChildContent>
                    <DropdownTemplate>
                        <DropdownMenu>
                            <DropdownItem>Last 7 Days</DropdownItem>
                            <DropdownItem>Last 30 days</DropdownItem>
                            <DropdownItem>Last 3 months</DropdownItem>
                        </DropdownMenu>
                    </DropdownTemplate>

                </Dropdown>
            </div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-3 me-2">2,986</div>
            <div class="me-auto">
                <span class="text-green d-inline-flex align-items-center lh-1">
                    4% <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="3 17 9 11 13 15 21 7"></polyline><polyline points="14 7 21 7 21 14"></polyline></svg>
                </span>
            </div>
        </div>
        <div style="max-width:200px">
            <ApexChart TItem="Order"
                       Height="40"
                       
                       XAxisType="XAxisType.Datetime"
                       Options="GetOptions()">

                <ApexPointSeries TItem="Order"
                            Items="SampleData.GetOrders()"
                            Name="Net Value"
                            SeriesType="SeriesType.Bar"
                            XValue="@(e => e.OrderDate.FirstDayOfMonth())"
                            YAggregate="@(e => e.Sum(e => e.NetValue))"
                            OrderBy="e=>e.X" />
            </ApexChart>
        </div>
    </div>
</div>

@code {
    private ApexCharts.ApexChartOptions<Order> GetOptions()
    {
        var options = new ApexCharts.ApexChartOptions<Order>();
        options.Colors = new List<string> { "#206bc4" };
        options.Chart = new Chart { Sparkline = new ChartSparkline { Enabled = true } };
        return options;
    }

}
