@inherits TablerBaseComponent
@namespace TabBlazor
@if (!dismissed)
{
    <HtmlElement Tag="div"
                 class="@ClassNames"
                 @onclick="OnClick"
                 @attributes="@UnmatchedParameters">

        @if (Dismissible)
        {
            <button data-dismiss="alert" class="btn-close" @onclick="DismissAlert" />
        }

        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <h4 class="alert-title">@Title</h4>
        }

        @ChildContent
    </HtmlElement>
}