@page "/docs/helpers/resize-observer"

<Page>
    <DocsExample Title="Resize Observer" ComponentType="typeof(ResizeObserver)">
        <p>ResizeObserver tracks resize events using the Resize Observer API. Resize the browser to see it in action</p>
        <CodeSnippet Component="@typeof(Basic)" Title="Basic"/>



    </DocsExample>
</Page>