@page "/docs/helpers/resize-observer"

<Page>
    <DocsExample Title="Resize Observer" ComponentType="typeof(ResizeObserver)">
        <p>ResizeObserver tracks esize events using the Resize Observer API. Resize the browser to see it in action</p>
        <CodeSnippet ClassName="@typeof(Basic).ToString()" Title="Basic">
            <Example>
                <Basic />
            </Example>
        </CodeSnippet>



    </DocsExample>
</Page>