@page "/"
@page "/dashboard"

<TabBlazor.PageTitle>Dashboard</TabBlazor.PageTitle> 
<PagePretitle>
    Blazor
    <Icon class="align-text-top" IconType="@TablerIcons.Heart" TextColor="TablerColor.Red" Size="12" Filled=true />
    <a style="text-decoration: unset; color: unset;" href="https://tabler.io/" target="_blank">Tabler</a>
</PagePretitle>

<Row class="mt-1 row-deck row-cards">
    <RowCol Sm="12" Md="6" Lg="3">
        <Tabler.Docs.Components.Snippets.Statistics.SmallSales />
    </RowCol>
    <RowCol Sm="12" Md="6" Lg="3">
        <Tabler.Docs.Components.Snippets.Statistics.SmallOrders />
    </RowCol>
    <RowCol Sm="12" Md="6" Lg="3">
        <Tabler.Docs.Components.Snippets.Statistics.SmallLikes />
    </RowCol>
    <RowCol Sm="12" Md="6" Lg="3">
        <Tabler.Docs.Components.Snippets.Statistics.SmallMembers />
    </RowCol>

    <RowCol Sm="12" Md="6" Lg="3">
        <Tabler.Docs.Components.Snippets.Statistics.StatisticsMedium />
    </RowCol>
    <RowCol Sm="12" Md="6" Lg="3">
        <Tabler.Docs.Components.Snippets.Statistics.StatisticsChart />
    </RowCol>
    <RowCol Sm="12" Md="6" Lg="3">
        <Tabler.Docs.Components.Snippets.Statistics.StatisticsLineChart />
    </RowCol>
    <RowCol Sm="12" Md="6" Lg="3">
        <Tabler.Docs.Components.Snippets.Statistics.StatisticsMedium />
    </RowCol>

    <RowCol Sm="12" Lg="6">
        <Tabler.Docs.Components.Snippets.Tables.CustomerList />
    </RowCol>

    <RowCol Sm="12" Lg="6">
        <Tabler.Docs.Components.Snippets.Tables.Orders />
    </RowCol>


</Row>

