<Row>
    <RowCol Lg="6">
        <Carousel Indicators="CarouselIndicator.Thumbnail">
            <CarouselItem ImageSrc="_content/Tabler.Docs/img/photos/36e273986ed577b8.jpg" />
            <CarouselItem ImageSrc="_content/Tabler.Docs/img/photos/0986f97be719fb9a.jpg" />
            <CarouselItem ImageSrc="_content/Tabler.Docs/img/photos/1194d63fe36a8670.jpg" />

            <CarouselItem>
                <ChildContent>
                    <div class="d-block w-100 bg-green p-3 text-center" style="min-height:300px">
                        <h1>Custom Html</h1>
                    </div>
                </ChildContent>

                <IndicatorTemplate>
                    <span style="opacity:0.75;background-color:white;height:100%;display:block">
                        <Icon IconType="TablerIcons.Question_mark" />
                    </span>

                </IndicatorTemplate>

            </CarouselItem>
        </Carousel>

    </RowCol>


</Row>


@code {

}
