@namespace TabBlazor

@foreach (var offcanvasModel in offcanvasService.Models.Reverse())
{
    <ClickOutside OnClickOutside="() => OnClickOutside(offcanvasModel)" Strategy="ClickOutside.RegisterStrategy.OnRender">
        <div class="@GetClasses(offcanvasModel)" @onkeydown="@(ev => OnKeyDown(ev, offcanvasModel))" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel" aria-modal="true" role="dialog">
            <div class="offcanvas-header" @onclick:stopPropagation>
                <h2 class="offcanvas-title" id="offcanvasStartLabel">@offcanvasModel.Title</h2>
                <button type="button" class="btn-close text-reset" aria-label="Close" @onclick="offcanvasService.Close"/>
            </div>
            <div class="offcanvas-body">
                @offcanvasModel.Contents
            </div>
        </div>
    </ClickOutside>

    if (offcanvasModel.Options.Backdrop)
    {
        <div class="offcanvas-backdrop fade show"/>
    }
}