    <Card Size="CardSize.Default" StatusTop="TablerColor.Primary">
        <CardHeader>
            <h3>Status at top</h3>
        </CardHeader>
        <CardBody>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem.
        </CardBody>
    </Card>

    <Card Size="CardSize.Default" StatusStart="TablerColor.Danger">
        <CardHeader>
            <h3>Status at left</h3>
        </CardHeader>
        <CardBody>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem.
        </CardBody>
    </Card>

   


