<Card Size="CardSize.Default">
    <CardHeader>
        <h3>This is the card header</h3>
    </CardHeader>
    <CardBody>
        Card Body
    </CardBody>
</Card>

<Card Size="CardSize.Default">
      <CardBody>
          <CardTitle>
              <h3>Header in the body</h3>
          </CardTitle>
        Card Body
    </CardBody>
</Card>

