@page "/docs/plugins/charts"

<Page>
    <DocsExample Title="Charts">

        <div class="mb-2">
            More samples at <a href="https://apexcharts.github.io/Blazor-ApexCharts/" target="_blank">Blazor-ApexCharts</a>
        </div>
        <CodeSnippet Component="@typeof(ChartsPie)" Title="Pie chart"/>

        <CodeSnippet Component="@typeof(ChartsBar)" Title="Bar chart"/>

        <CodeSnippet Component="@typeof(ChartsDatetime)" Title="Datetime"/>

    </DocsExample>
</Page>