<div class="row">
    <div class="col-auto">
        <ApexChart TItem="Order"
                   XAxisType="XAxisType.Datetime"
                   Options="GetOptions()">

            <ApexPointSeries TItem="Order"
                             SeriesType="SeriesType.Bar"
                             Items="SampleData.GetOrders()"
                             Name="Net Value"
                             XValue="@(e => e.OrderDate.FirstDayOfMonth())"
                             YAggregate="@(e => e.Sum(e => e.NetValue))"
                             OrderBy="e=>e.X" />

        </ApexChart>
    </div>
</div>


@code {

    private ApexCharts.ApexChartOptions<Order> GetOptions()
    {
        var options = new ApexCharts.ApexChartOptions<Order>();
        options.Colors = new List<string> { "#206bc4" };
        //  options.Chart = new Chart { Sparkline = new ChartSparkline { Enabled = true } };
        return options;
    }



}
