
<div class="form-selectgroup">

    <Checkbox>
        <Icon Elements="@DemoIcons.Tractor"></Icon>
    </Checkbox>

    <Checkbox>
        <Icon Elements="@DemoIcons.Bike" ></Icon>
    </Checkbox>

    <Checkbox>
        <Icon Elements="@DemoIcons.Bus" ></Icon>
    </Checkbox>

</div>
