
<CheckboxTriState Label="This is a label" @bind-Value="isChecked" />
<div class="mb-3">
    <i> Value is checked: @isChecked</i>
</div>


<CheckboxTriState DefaultValue="true" @bind-Value="isChecked1" />
<div>
    <i> Value is checked: @isChecked1</i>
</div>
@if (isChecked1.HasValue)
{
    <Button Size="ButtonSize.Small" @onclick="SetNull">Set null</Button>
}


@code {
    private bool? isChecked;
    private bool? isChecked1;

    private void SetNull()
    {
        isChecked1 = null;
    }

}