<TablerCard Size="TablerCardSize.Default">
    <TablerCardBody>
        <div class="d-flex">
            <h3 class="h1 mt-0 mb-3">@Title</h3>
        </div>
        @Description

        @ChildContent
    </TablerCardBody>
</TablerCard>


