@if (PropertyValue != null)
{
    <span class="cursor-pointer text-wrap" @onclick="(() => ObjectDetails())">
        @if (ChildContent == null)
        {
            @PropertyValue?.ToString()
        }
        else
        {
            @ChildContent
        }
    </span>
}
else
{
    <i>null</i>
}


