@using TabBlazor.Services

@namespace TabBlazor

@if (ToastService.Toasts.Any())
{
    <div class="p-1 toast-container" style="position: fixed; z-index: 999999; height: 100vh; width: 100vw;">
        @foreach (var toast in ToastService.Toasts)
        {
            <TabBlazor.Components.Toasts.ToastView Toast="toast" @key="toast" />
        }
    </div>
}
