@using TabBlazor.Services 
@inherits ComponentBase
@namespace TabBlazor

@if (ToastService.Toasts.Any())
{
    <div style="position: fixed; top: 0; right: 0; z-index: 999999;">
        @foreach (var toast in ToastService.Toasts)
        {
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" data-toggle="toast">

                <div class="toast-header">
                    @*<span class="avatar me-2" style="background-image: url(...)"></span>*@
                    <strong class="me-auto">@toast.Title</strong>
                    <small>@toast.SubTitle</small>
                    <button type="button" class="ms-2 btn-close" data-dismiss="toast" aria-label="Close" @onclick="() => ToastService.Toasts.Remove(toast)">
                    </button>
                </div>
                <div class="toast-body">
                    @toast.Message
                </div>
            </div>
        }
    </div>
}
