<div class="form-group mb-3">
    <ValueInput @bind-Value="intValue" Label="INT" DisplayMode="DisplayMode.Flush"/>
    <span class="mb-3">INT Value: @intValue</span>
</div>

<div class="form-group">
    <ValueInput @bind-Value="guidValue" Label="GUID" DisplayMode="DisplayMode.Flush"/>
    <span class="mb-3">GUID Value: @guidValue</span>
</div>

@code {
    int intValue = 1234;
    Guid guidValue = Guid.NewGuid();
}