<Timeline Type="TimelineType.Simple">
    <TimelineItem Time="2020-12-28" Title="We are the best"  IconColor="TablerColor.Green" IconText="TV">
        <p class="text-muted">This is great!</p>
    </TimelineItem>
  
    <TimelineItem Time="2020-12-31" IconColor="TablerColor.Red" Title="Twitter">
        <IconTemplate>
            <Icon IconType="@TablerIcons.Brand_twitter" Size="16" />
        </IconTemplate>
        <ChildContent>
             <p class="text-muted">You’re getting more and more followers, keep it up!</p>
        </ChildContent>   
    </TimelineItem>
</Timeline>
