
<TablerDropDown>
    <TablerButton @onclick="toogleOpen" BackgroundColor="TablerColor.Primary">
        Toogle
    </TablerButton>
    <TablerDropDownMenu Show="isOpen">
        <TablerDropDownItem>Item 1</TablerDropDownItem>
        <TablerDropDownItem>Item 2</TablerDropDownItem>
        <TablerDropDownItem>Item 3</TablerDropDownItem>
    </TablerDropDownMenu>
</TablerDropDown>

<div class="item-action dropdown">



</div>


<ul class="dropdown-menu show">
    <li>
        <a class="dropdown-item" href="./invoice.html">
            Invoice
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="./blog.html">
            Blog cards
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="./snippets.html">
            Snippets
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="./search-results.html">
            Search results
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="./pricing.html">
            Pricing cards
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="./users.html">
            Users
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="./gallery.html">
            Gallery
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="./profile.html">
            Profile
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="./music.html">
            Music
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="./welcome.html">
            Welcome
        </a>
    </li>
</ul>

@code {
    private bool isOpen = true;

    private void toogleOpen()
    {
        isOpen = !isOpen;
    }
} 