@page "/docs/dropdowns"

<div class="page">
    <TablerCard Size="TablerCardSize.Large">
        <TablerCardBody>
            <div class="d-flex">
                <h2 class="h1 mt-0 mb-3">Dropdowns</h2>
            </div>
            <p></p>

            <DocsSnippet Centered="true" Class="@typeof(DropdownsBasic).ToString()" Title="Basic">
                <Description>
                    Basic avatar
                </Description>
                <Example>
                    <DropdownsBasic />
                </Example>
            </DocsSnippet>
            </TablerCardBody>
        </TablerCard>
</div>