<Dropdown>
    <ChildContent>
        <Button BackgroundColor="TablerColor.Primary" Type="ButtonType.Button" Text="Click me" IsDropdown />
    </ChildContent>

    <DropdownTemplate>
        <DropdownMenu>
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    <DropdownItem>Item 1</DropdownItem>
                    <DropdownItem>Item 2</DropdownItem>
                    <DropdownItem>Item 3</DropdownItem>
                </div>
                <div class="dropdown-menu-column">
                    <DropdownItem>Item 1</DropdownItem>
                    <DropdownItem>Item 2</DropdownItem>
                    <DropdownItem>Item 3</DropdownItem>
                </div>
            </div>
        </DropdownMenu>
    </DropdownTemplate>
</Dropdown>