
<Dropdown>
    <ChildContent>
        <Button @onclick="toogleOpen" BackgroundColor="TablerColor.Primary">
            Toogle
        </Button>
    </ChildContent>
   
    @*<DropdownMenu>
        <DropdownMenu Show="isOpen">
            <DropdownItem>Item 1</DropdownItem>
            <DropdownItem>Item 2</DropdownItem>
            <DropdownItem>Item 3</DropdownItem>
        </DropdownMenu>
    </DropdownMenu>*@
    
</Dropdown>

@code {
    private bool isOpen = true;

    private void toogleOpen()
    {
        isOpen = !isOpen;
    }
} 