<Dropdown>
    <ChildContent>
        <Button BackgroundColor="TablerColor.Primary" Type="ButtonType.Button" Text="Click me" IsDropdown />
    </ChildContent>

    <DropdownTemplate>
        <DropdownMenu>
             <span class="dropdown-header">Dropdown header</span>
            <DropdownItem Active>Active</DropdownItem>
            <DropdownItem>Normal</DropdownItem>
             <div class="dropdown-divider"></div>
            <DropdownItem Disabled>Disabled</DropdownItem>
        </DropdownMenu>
    </DropdownTemplate>

</Dropdown>


