<Dropdown>
    <ChildContent>
        <Button BackgroundColor="TablerColor.Primary" Type="ButtonType.Button" Text="Click me" />
    </ChildContent>

    <DropdownTemplate>
        <DropdownMenu>
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    <DropdownItem>Item 1</DropdownItem>
                    <DropdownItem>Item 2</DropdownItem>
                    <DropdownItem>Item 3</DropdownItem>
                </div>
                <div class="dropdown-menu-column">
                    <DropdownItem>Item 1</DropdownItem>
                    <DropdownItem>Item 2</DropdownItem>
                    <DropdownItem>Item 3</DropdownItem>
                    <div class="dropend">
                          <a class="dropdown-item dropdown-toggle show"  data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            Authentication
                          </a>
                          <div class="dropdown-menu show">
                            <a href="./sign-in.html" class="dropdown-item">Sign in</a>
                            <a href="./sign-up.html" class="dropdown-item">Sign up</a>
                            <a href="./forgot-password.html" class="dropdown-item">Forgot password</a>
                            <a href="./terms-of-service.html" class="dropdown-item">Terms of service</a>
                            <a href="./auth-lock.html" class="dropdown-item">Lock screen</a>
                          </div>
                        </div>
                </div>
            </div>
        </DropdownMenu>
    </DropdownTemplate>
</Dropdown>