<Carousel>

    <CarouselItem>
        <img class="d-block w-100" alt="" src="_content/Tabler.Docs/img/photos/36e273986ed577b8.jpg" />
    </CarouselItem>

    <CarouselItem>
        <img class="d-block w-100" alt="" src="_content/Tabler.Docs/img/photos/0986f97be719fb9a.jpg" />
    </CarouselItem>

    <CarouselItem>
        <img class="d-block w-100" alt="" src="_content/Tabler.Docs/img/photos/1194d63fe36a8670.jpg" />
    </CarouselItem>

    <CarouselItem>
        <div class="d-block w-100 bg-green p-3 text-center" style="min-height:300px">
            <h1>Custom Html</h1>
        </div>
        
    </CarouselItem>

</Carousel>

@code {

}
