
<Row>
    <RowCol Lg="6">
        <Carousel Controls AutoSlide="false">
            <CarouselItem ImageSrc="_content/Tabler.Docs/img/photos/36e273986ed577b8.jpg">
                <CaptionTemplate>
                    <h3>Slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </CaptionTemplate>
            </CarouselItem>
            <CarouselItem ImageSrc="_content/Tabler.Docs/img/photos/0986f97be719fb9a.jpg">
                <CaptionTemplate>
                    <h3>More Caption</h3>
                    <p>TabBlazor is the thing</p>
                </CaptionTemplate>
            </CarouselItem>


            <CarouselItem ImageSrc="_content/Tabler.Docs/img/photos/1194d63fe36a8670.jpg">
                <CaptionTemplate>
                   <Icon StrokeWidth=1 Size=400 IconType="TablerIcons.Ghost"></Icon>
                </CaptionTemplate>

                </CarouselItem>
        </Carousel>
    </RowCol>
</Row>
