@page "/docs/helpers/click-outside"

<Page>
    <DocsExample Title="Click outside" ComponentType="typeof(ClickOutside)">
        <p>Sends an event if user clicks outside of the container</p>
        <CodeSnippet ClassName="@typeof(Basic).ToString()" Title="Basic">
            <Example>
                <Basic />
            </Example>
        </CodeSnippet>



    </DocsExample>
</Page>