@page "/docs/helpers/click-outside"

<Page>
    <DocsExample Title="Click outside" ComponentType="typeof(ClickOutside)">
        <p>Sends an event if user clicks outside of the container</p>
        <p>Each ClickOutside component get an event when the user click outside of it.</p>

        <CodeSnippet ClassName="@typeof(Basic).ToString()" Title="Basic">
            <Example>
                <Basic />
            </Example>
        </CodeSnippet>


        <CodeSnippet ClassName="@typeof(Multiple).ToString()" Title="Multiple components recieving click outside">
            <Example>
                <Multiple />
            </Example>
        </CodeSnippet>

    </DocsExample>
</Page>