<Button @onclick="ShowModal" BackgroundColor="TablerColor.Primary">Show Modal</Button>
<div>@message</div>


@code {
    @inject IModalService ModalService
    private string message;
    protected async Task ShowModal()
    {
        message = string.Empty;

        var modalParameters = new ModalParameters();
        modalParameters.Add("ReportName", "Report name from parameter");

        var result = await ModalService.Show("This is a Title", typeof(TestModalContent), modalParameters, new ModalOptions { Size = ModalSize.Large });

        if (result.Cancelled)
        {
            message = "Modal was cancelled!";
        }
        else
        {
            message = "Modal as ok!";
        }

    }

}