<div class="mb-2">
    Selected Customer: @SelectedCustomerName
</div>

<Typeahead
    TItem="Customer"
    TValue="string"
    SearchMethod="SearchCustomers"
    @bind-SelectedValue="SelectedCustomerName"
    MinimumLength=1
    SearchPlaceholderText="Search customer..."
    ShowOptionOnFocus="true",
    ConvertExpression="customer => customer.CustomerName">
    <ListTemplate>
        @context.CustomerName
    </ListTemplate>
</Typeahead>

@code {
    private string SelectedCustomerName { get; set; }
    private List<Customer> customers = SampleData.GetCustomers();

    private Task<IEnumerable<Customer>> SearchCustomers(string searchText)
    {
        return Task.FromResult(customers.Where(e => e.CustomerName.Contains(searchText, StringComparison.CurrentCultureIgnoreCase)));
    }
}