@page "/docs/toasts"

<Page>
    <DocsExample Title="Toasts" ComponentType="typeof(ToastOptions)">

         <CodeSnippet Component="@typeof(ToastsBasic)" Title="Basics">
            <Description>
                <p>Show a toast..</p>
            </Description>
        </CodeSnippet>

        <CodeSnippet Component="@typeof(ToastsContent)" Title="Template">
            <Description>
                <p>A toast can hold any content</p>
            </Description>
        </CodeSnippet>

        <CodeSnippet Component="@typeof(ToastsOptions)" Title="Options">
            <Description>
                <p>Toast options</p>
            </Description>
        </CodeSnippet>


        <CodeSnippet Component="@typeof(ToastsProgramatic)" Title="Programatic"/>

    </DocsExample>
</Page>