
<SwitchContent Animation="SwitchAnimation.Fade">
    <DefaultTemplate>
     <Button BackgroundColor="TablerColor.Default" >Not Active</Button>
    </DefaultTemplate>
    <ActiveTemplate>
        <Button BackgroundColor="TablerColor.Primary">Active</Button> 
    </ActiveTemplate>
</SwitchContent>
