@page "/docs/switch-content"

<Page>
    <DocsExample Title="Switch Content" ComponentType="typeof(SwitchContent)">

        <CodeSnippet ClassName="@typeof(SwitchContentIcons).ToString()" Title="Icons">
            <Description>
                <p>Click the icons..</p>
            </Description>
            <Example>
                <SwitchContentIcons />
            </Example>
        </CodeSnippet>

        <CodeSnippet ClassName="@typeof(SwitchContentTemplates).ToString()" Title="Any content">
            <Description>
                <p>The templates can hold any content</p>
            </Description>
            <Example>
                <SwitchContentTemplates />
            </Example>
        </CodeSnippet>

    </DocsExample>
</Page>