@page "/docs/switch-content"

<Page>
    <DocsExample Title="Switch Content" ComponentType="typeof(SwitchContent)">

        <CodeSnippet Component="@typeof(SwitchContentIcons)" Title="Icons">
            <Description>
                <p>Click the icons..</p>
            </Description>
        </CodeSnippet>

        <CodeSnippet Component="@typeof(SwitchContentTemplates)" Title="Any content">
            <Description>
                <p>The templates can hold any content</p>
            </Description>
        </CodeSnippet>

    </DocsExample>
</Page>