<div class="d-flex gap-5 flex-wrap">
    <Tooltip Text="Top placement" Positioning="Positioning.Absolute" Placement="Placement.Top">
        <Button BackgroundColor="TablerColor.Primary">Top</Button>
    </Tooltip>

    <Tooltip Text="Bottom placement" Positioning="Positioning.Absolute" Placement="Placement.Bottom">
        <Button BackgroundColor="TablerColor.Primary">Bottom</Button>
    </Tooltip>

    <Tooltip Text="Right placement" Positioning="Positioning.Absolute" Placement="Placement.Right">
        <Button BackgroundColor="TablerColor.Primary">Right</Button>
    </Tooltip>

    <Tooltip Text="Left placement" Positioning="Positioning.Absolute" Placement="Placement.Left">
        <Button BackgroundColor="TablerColor.Primary">Left</Button>
    </Tooltip>

    <Tooltip Text="I auto-flip when near the viewport edge" Positioning="Positioning.Absolute" Placement="Placement.Top">
        <Button BackgroundColor="TablerColor.Success">Auto-flip</Button>
    </Tooltip>
</div>
